body {
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  font-size: 48px;
}

ul {
  text-align: center;
}

li {
  margin: 0 50px;
  display: inline-block;
}

a {
  font-size: 24px;
  width: 400px;
  margin: 0 ;
  color: black;
  background-color: antiquewhite;
  display: block;
}

span {
  padding: 20px;
  display: inline-block;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
